* {
    margin: 0;
    padding: 0;
}
body {

    background: linear-gradient(135deg, #000000, #421c1c, #3e243c);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    color: white;
    transition: 0.3s ease;
    font-size: 20px;
}

.nav-link:hover {
    color: #f78383;
    transform: scale(1.05);
    font-size: 20px;
}
.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.img-fluid {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 550px;
    border-radius: 50%;
}
.img-fluid:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}
.hero-section{
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
}
.hero-section:hover{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.heading3{
    font-size: 48px;
    font-weight: 700;
    color: #fa00c4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
}
.heading3:hover{
    font-size: 55px;
    font-weight: 700;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    font-style: italic;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;

}
.para-livestock{
    font-size: 18px;
    font-style: italic;
    line-height: 1.6;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.about-section{
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
}
.about-section:hover{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}