* {
    margin: 0;
    padding: 0;
}

body {

    background: linear-gradient(135deg, #000000, #421c1c, #3e243c);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #421c35;
}

.nav-link {
    color: white;
    transition: 0.3s ease;
    font-size: 20px;
}

.nav-link:hover {
    color: #f78383;
    transform: scale(1.05);
    font-size: 20px;
}

.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.img-fluid {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 550px;
    border-radius: 50%;
}

.img-fluid:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}

.hero-section {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
}

.hero-section:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.heading3 {
    font-size: 48px;
    font-weight: 700;
    color: #fa00c4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.heading3:hover {
    font-size: 55px;
    font-weight: 700;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    font-style: italic;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;

}

.para-livestock {
    font-size: 18px;
    font-style: italic;
    line-height: 1.6;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.about-section {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
}

.about-section:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}


.contact-para {
    padding-top: 200px;
}

.form {
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    background: linear-gradient(135deg, #421c1c, #3e243c);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgb(248, 161, 237);
    font-family: Arial, sans-serif;
    border: 2px solid #ff71e0;
}

.form:hover {
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    background-color: #521d4f;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgb(245, 161, 248);
    font-family: Arial, sans-serif;
    border: 2px solid #ff71ff;
    cursor: pointer;
}

.label,
.label-msg {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 10px 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form input[type="text"]:hover,
.form textarea:hover {
    border-color: #1a015f;
}

.form input[type="text"]:focus,
.form textarea:focus {
    border-color: #012c0b;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.btn {
    background-color: #f1b9f8;
}

.btn:hover {
    background-color: #400142;
    color: #ffffff;
    border: 2px solid #052401;
}

.btn:active {
    background-color: #6b0080;
    transform: scale(0.98);
}

.footer {
    background-color: #310120;
}

.footer-row {
    background-color: #3b092a;
    border-radius: 10px;
    border: #fa00c4 solid 2px;

}
.para-livestock a {
    text-decoration: none;
    color: #ffffff;
}
.para-e a {
    text-decoration: none;
    color: #ffffff;
}

.price {
    color: #ffffff;
}

.imgs {
    width: 35px;
    height: 30px;
    border-radius: 50px;
    text-decoration: none;
}

.text-white {
    color: white;
    text-decoration: none;
}
.cow-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cows-img {
    width: 100%;
    width: 300px;
    object-fit: cover;
    height: 300px;
    display: block;
}
.card-title{
    background-color: #421c1c;
    color: #ffffff;
}
.card-body{
    background-color: #421c1c;
}
.card-footer{
    background-color: #421c1c;
}
.text-body{
    color: #ffffff;
}
